In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv("HeartDisease.csv")

In [3]:
df

,age,gender,chest_pain,rest_bps,cholestrol,fasting_blood_sugar,rest_ecg,thalach,exer_angina,old_peak,slope,ca,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  303 non-null    int64
 1   gender               303 non-null    int64
 2   chest_pain           303 non-null    int64
 3   rest_bps             303 non-null    int64
 4   cholestrol           303 non-null    int64
 5   fasting_blood_sugar  303 non-null    int64
 6   rest_ecg             303 non-null    int64
 7   thalach              303 non-null    int64
 8   exer_angina          303 non-null    int64
 9   old_peak             303 non-null    float64
 10  slope                303 non-null    int64
 11  ca                   303 non-null    int64
 12  thalassemia          303 non-null    int64
 13  target               303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
#separation of x and y

x=df.iloc[:,:-1]
y=df["target"]

In [8]:
x

,age,gender,chest_pain,rest_bps,cholestrol,fasting_blood_sugar,rest_ecg,thalach,exer_angina,old_peak,slope,ca,thalassemia
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [9]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [10]:
df['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [11]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.30,random_state=42)

In [12]:
lr=LogisticRegression()    #create two object lr and dt

dt=DecisionTreeClassifier()

In [13]:
#calling all function

def mymodel(m):
    m.fit(xtrain,ytrain)
    ypred=m.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    cr=classification_report(ytest,ypred)
    print(f"Accuracy:  {ac} \n \n Classification Report: \n {cr}")

In [14]:
mymodel(lr)

Accuracy:  0.8131868131868132

 Classification Report:
               precision    recall  f1-score   support

           0       0.80      0.78      0.79        41
           1       0.82      0.84      0.83        50

    accuracy                           0.81        91
   macro avg       0.81      0.81      0.81        91
weighted avg       0.81      0.81      0.81        91

In [15]:
mymodel(dt)

Accuracy:  0.7362637362637363

 Classification Report:
               precision    recall  f1-score   support

           0       0.68      0.78      0.73        41
           1       0.80      0.70      0.74        50

    accuracy                           0.74        91
   macro avg       0.74      0.74      0.74        91
weighted avg       0.74      0.74      0.74        91

In [17]:
#to check model overfitiing if yes or no
dt.score(xtrain,ytrain)  #testing score should be more  so this is overfitting problem

1.0

In [18]:
dt.score(xtest,ytest)

0.7362637362637363

# hypertuning in DT ....1.max_depth

In [19]:
acc_list=[]
depth_list=[]
for i in range(1,16):
    dt1=DecisionTreeClassifier(max_depth=i)
    dt1.fit(xtrain,ytrain)
    ypred=dt1.predict(xtest)
    ac=accuracy_score(ytest,ypred)

    depth_list.append(i)
    acc_list.append(ac)

    print(f"For max_depth={i}  We get Accuracy= {ac}")

For max_depth=1  We get Accuracy= 0.6923076923076923
For max_depth=2  We get Accuracy= 0.6923076923076923
For max_depth=3  We get Accuracy= 0.7692307692307693
For max_depth=4  We get Accuracy= 0.7252747252747253
For max_depth=5  We get Accuracy= 0.7472527472527473
For max_depth=6  We get Accuracy= 0.7252747252747253
For max_depth=7  We get Accuracy= 0.7032967032967034
For max_depth=8  We get Accuracy= 0.7252747252747253
For max_depth=9  We get Accuracy= 0.7472527472527473
For max_depth=10  We get Accuracy= 0.7362637362637363
For max_depth=11  We get Accuracy= 0.7252747252747253
For max_depth=12  We get Accuracy= 0.7032967032967034
For max_depth=13  We get Accuracy= 0.7142857142857143
For max_depth=14  We get Accuracy= 0.7142857142857143
For max_depth=15  We get Accuracy= 0.7362637362637363

In [20]:
dt2=DecisionTreeClassifier(max_depth=4)
mymodel(dt2)

Accuracy:  0.7362637362637363

 Classification Report:
               precision    recall  f1-score   support

           0       0.67      0.83      0.74        41
           1       0.82      0.66      0.73        50

    accuracy                           0.74        91
   macro avg       0.75      0.74      0.74        91
weighted avg       0.75      0.74      0.74        91

In [21]:
dt2.score(xtrain,ytrain)

0.910377358490566

# hypertuning in DT ....2.min_sample_split

In [22]:
acc_list=[]
n_sample_split_list=[]
for i in range(1,50):
    dt3=DecisionTreeClassifier(min_samples_split=2)
    dt3.fit(xtrain,ytrain)
    ypred=dt3.predict(xtest)
    ac=accuracy_score(ytest,ypred)

    n_sample_split_list.append(i)
    acc_list.append(ac)

    print(f"For max_depth={i}  We get Accuracy= {ac}")

For max_depth=1  We get Accuracy= 0.7362637362637363
For max_depth=2  We get Accuracy= 0.7362637362637363
For max_depth=3  We get Accuracy= 0.7362637362637363
For max_depth=4  We get Accuracy= 0.7252747252747253
For max_depth=5  We get Accuracy= 0.7142857142857143
For max_depth=6  We get Accuracy= 0.7472527472527473
For max_depth=7  We get Accuracy= 0.7472527472527473
For max_depth=8  We get Accuracy= 0.7252747252747253
For max_depth=9  We get Accuracy= 0.7472527472527473
For max_depth=10  We get Accuracy= 0.7252747252747253
For max_depth=11  We get Accuracy= 0.7142857142857143
For max_depth=12  We get Accuracy= 0.7362637362637363
For max_depth=13  We get Accuracy= 0.7472527472527473
For max_depth=14  We get Accuracy= 0.7032967032967034
For max_depth=15  We get Accuracy= 0.7252747252747253
For max_depth=16  We get Accuracy= 0.7362637362637363
For max_depth=17  We get Accuracy= 0.7252747252747253
For max_depth=18  We get Accuracy= 0.7142857142857143
For max_depth=19  We get Accuracy= 0.7252747252747253
For max_depth=20  We get Accuracy= 0.7252747252747253
For max_depth=21  We get Accuracy= 0.7362637362637363
For max_depth=22  We get Accuracy= 0.7252747252747253
For max_depth=23  We get Accuracy= 0.7252747252747253
For max_depth=24  We get Accuracy= 0.7362637362637363
For max_depth=25  We get Accuracy= 0.7142857142857143
For max_depth=26  We get Accuracy= 0.7142857142857143
For max_depth=27  We get Accuracy= 0.7032967032967034
For max_depth=28  We get Accuracy= 0.7142857142857143
For max_depth=29  We get Accuracy= 0.7362637362637363
For max_depth=30  We get Accuracy= 0.7362637362637363
For max_depth=31  We get Accuracy= 0.7472527472527473
For max_depth=32  We get Accuracy= 0.7142857142857143
For max_depth=33  We get Accuracy= 0.6813186813186813
For max_depth=34  We get Accuracy= 0.7362637362637363
For max_depth=35  We get Accuracy= 0.7142857142857143
For max_depth=36  We get Accuracy= 0.7142857142857143
For max_depth=37  We get Accuracy= 0.7032967032967034
For max_depth=38  We get Accuracy= 0.7252747252747253
For max_depth=39  We get Accuracy= 0.7582417582417582
For max_depth=40  We get Accuracy= 0.7142857142857143
For max_depth=41  We get Accuracy= 0.7142857142857143
For max_depth=42  We get Accuracy= 0.7472527472527473
For max_depth=43  We get Accuracy= 0.7142857142857143
For max_depth=44  We get Accuracy= 0.7472527472527473
For max_depth=45  We get Accuracy= 0.7362637362637363
For max_depth=46  We get Accuracy= 0.7032967032967034
For max_depth=47  We get Accuracy= 0.7252747252747253
For max_depth=48  We get Accuracy= 0.7252747252747253
For max_depth=49  We get Accuracy= 0.7362637362637363

In [24]:
dt3=DecisionTreeClassifier(max_depth=4)
mymodel(dt3)

Accuracy:  0.7252747252747253

 Classification Report:
               precision    recall  f1-score   support

           0       0.65      0.83      0.73        41
           1       0.82      0.64      0.72        50

    accuracy                           0.73        91
   macro avg       0.74      0.73      0.73        91
weighted avg       0.75      0.73      0.72        91

In [25]:
dt3.score(xtrain,ytrain)

0.910377358490566

# hypertuning in DT ....2.min_sample_leaf

In [27]:
acc_list=[]
min_sample_leaf_list=[]
for i in range(1,50):
    dt4=DecisionTreeClassifier(min_samples_leaf=i)
    dt4.fit(xtrain,ytrain)
    ypred=dt4.predict(xtest)
    ac=accuracy_score(ytest,ypred)

    min_sample_leaf_list.append(i)
    acc_list.append(ac)

    print(f"For min_sample_leaf={i}  We get Accuracy= {ac}")

For min_sample_leaf=1  We get Accuracy= 0.7472527472527473
For min_sample_leaf=2  We get Accuracy= 0.7032967032967034
For min_sample_leaf=3  We get Accuracy= 0.7472527472527473
For min_sample_leaf=4  We get Accuracy= 0.7692307692307693
For min_sample_leaf=5  We get Accuracy= 0.7142857142857143
For min_sample_leaf=6  We get Accuracy= 0.7142857142857143
For min_sample_leaf=7  We get Accuracy= 0.7142857142857143
For min_sample_leaf=8  We get Accuracy= 0.7142857142857143
For min_sample_leaf=9  We get Accuracy= 0.7692307692307693
For min_sample_leaf=10  We get Accuracy= 0.8021978021978022
For min_sample_leaf=11  We get Accuracy= 0.8021978021978022
For min_sample_leaf=12  We get Accuracy= 0.8021978021978022
For min_sample_leaf=13  We get Accuracy= 0.8021978021978022
For min_sample_leaf=14  We get Accuracy= 0.8021978021978022
For min_sample_leaf=15  We get Accuracy= 0.8021978021978022
For min_sample_leaf=16  We get Accuracy= 0.7802197802197802
For min_sample_leaf=17  We get Accuracy= 0.7802197802197802
For min_sample_leaf=18  We get Accuracy= 0.7032967032967034
For min_sample_leaf=19  We get Accuracy= 0.7032967032967034
For min_sample_leaf=20  We get Accuracy= 0.6923076923076923
For min_sample_leaf=21  We get Accuracy= 0.6923076923076923
For min_sample_leaf=22  We get Accuracy= 0.6923076923076923
For min_sample_leaf=23  We get Accuracy= 0.6923076923076923
For min_sample_leaf=24  We get Accuracy= 0.6923076923076923
For min_sample_leaf=25  We get Accuracy= 0.6923076923076923
For min_sample_leaf=26  We get Accuracy= 0.6923076923076923
For min_sample_leaf=27  We get Accuracy= 0.6923076923076923
For min_sample_leaf=28  We get Accuracy= 0.6923076923076923
For min_sample_leaf=29  We get Accuracy= 0.6923076923076923
For min_sample_leaf=30  We get Accuracy= 0.6923076923076923
For min_sample_leaf=31  We get Accuracy= 0.6923076923076923
For min_sample_leaf=32  We get Accuracy= 0.6923076923076923
For min_sample_leaf=33  We get Accuracy= 0.6923076923076923
For min_sample_leaf=34  We get Accuracy= 0.6923076923076923
For min_sample_leaf=35  We get Accuracy= 0.6923076923076923
For min_sample_leaf=36  We get Accuracy= 0.6923076923076923
For min_sample_leaf=37  We get Accuracy= 0.6923076923076923
For min_sample_leaf=38  We get Accuracy= 0.6923076923076923
For min_sample_leaf=39  We get Accuracy= 0.6923076923076923
For min_sample_leaf=40  We get Accuracy= 0.6923076923076923
For min_sample_leaf=41  We get Accuracy= 0.6923076923076923
For min_sample_leaf=42  We get Accuracy= 0.6923076923076923
For min_sample_leaf=43  We get Accuracy= 0.6923076923076923
For min_sample_leaf=44  We get Accuracy= 0.6923076923076923
For min_sample_leaf=45  We get Accuracy= 0.6923076923076923
For min_sample_leaf=46  We get Accuracy= 0.6923076923076923
For min_sample_leaf=47  We get Accuracy= 0.6923076923076923
For min_sample_leaf=48  We get Accuracy= 0.6923076923076923
For min_sample_leaf=49  We get Accuracy= 0.6923076923076923

In [30]:
dt4=DecisionTreeClassifier(max_depth=2)
mymodel(dt4)

Accuracy:  0.6923076923076923

 Classification Report:
               precision    recall  f1-score   support

           0       0.61      0.85      0.71        41
           1       0.82      0.56      0.67        50

    accuracy                           0.69        91
   macro avg       0.72      0.71      0.69        91
weighted avg       0.73      0.69      0.69        91

In [31]:
dt4.score(xtrain,ytrain)

0.7971698113207547